<div class="buttons" style="margin-right: 5px">
 <%= link_to "checkout", cart_path, class: "btn btn-success btn-xl"%>
 <%= link_to "continue order", items_path , class: "btn btn-success btn-xl"%>
 <%= link_to "previous orders", pastorders_path, class: "btn btn-success btn-xl" %>
</div>