// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login {
   width: 330px;
   margin-top: 80px;
   padding-bottom: 30px;
   background-color: #f3f3f3;
   border-radius: 15px; 
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ddd;
}