<div class="container" style="margin-top:20px;">
  <div class="row">
    <div class="col-xs-6">
        <h3 class="text-center">categories</h3>
          <div class="well">
            <ul class="list-group checked-list-box">
              <div id="new"></div><br>
              <% @categories.each do |category| %>
                <li class="list-group-item"><%=category.name%>
                  <div class="pull-right"><%=link_to "delete",deletecategory_path(category.id),data: { confirm: 'Are you sure? your a admin' } %></div>
                </li>
              <%end%><br>
              <%=link_to "Add",newcategory_path,class: "btn btn-success btn-sm",remote: true%>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>